.form
{
    position: fixed;
    background-color: #f9f9f9;
    border-top: 1px solid #78b8ef;
    padding: 5px 10px;
}

.form .placeholder, .form .input-message, .form button {
    display: block;
    margin-bottom: 5px;
}

.form .input-message{
    padding: 7px;
    border: 1px solid #ecebeb;
    border-radius: 4px;
    width: -webkit-fill-available;
}

.form button {
    width: 100%;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
    background-color: #78b8ef;
    border:1px solid #5e9ed8;
}

.container{
    margin-bottom: 50px;
}

.container p {
    display: block;
}